.title {
    margin: 0 auto;
    max-width: 768px;
    width: 90%;
    padding-top: 64px;
}
.title h2 {
    color: white;
}
.footer {
    display: flex;
    margin: 0 auto;
    max-width: 768px;
    width: 90%;
    justify-content: space-between;
}
.contactInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footLink img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px;
}
.footLink2 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 5px;
}