section.fixed {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	position: relative;
	z-index: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
}
section.fixed h1,section.fixed h2 {
	color: white;
	font-size: 2.875rem;
	font-weight: 300;
	text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

section.scrolling {
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	line-height: 1.6;
	padding: 4em 0;
	position: relative;
	z-index: 2;
}
section .container {
	margin: 0 auto;
	max-width: 768px;
	width: 90%;
}
section .container::after {
	clear: both;
	content: '';
	display: table;
}
section.contact {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 90%;
	position: relative;
	z-index: 1;
}

/*
 * Responsiveness
 */
@media (max-width: 768px) {
    * {
      line-height: inherit !important;
    }
    .activities {
      flex-direction: column;
      align-items: center;
    }
    .vision, .activity {
      margin: 15px;
	}
	.footer {
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
	}
	.contact iframe {
		display: none;
	}
	.contactInfo {
		margin-top: 6em;
	}
	#navbar {
		display: flex;
		justify-content: start;
		align-items: center;
	}
}
