section {

  &.fixed {
    &.fa {
      background-image: url("../../images/rj2016.jpg");
    } 
    &.f1 {
      background-image: url("../../images/cd-background-1.jpg");
    }
    &.f2 {
      background-image: url("../../images/cd-background-2.jpg");
    }
    &.f3 {
      background-image: url("../../images/cd-background-3.jpg");
    }
    &.f4 {
      background-image: url("../../images/cd-background-4.jpg");
      p {
        color: #fff;
        padding: 4em 0;
        line-height: 1.6;
      }
      .map {
        position: absolute;
        bottom: 0;
      }
    }
  }

  &.scrolling {
    &.s2 {
      .video {
        text-align: center;
      }
    }
    &.s3 {
      background-color: rgb(213, 33, 33);
      color: #fff;
    }
  }

}
