.logoEvent{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 410px;
    height: 405;
    margin-bottom: 10px;
}
.logoEvent:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.eventForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* subscribing event contact form */
#subscribing textarea{
    height: 90px;
    width: 250px;
}
#subscribing #nbr {
    width: 40px;
}
.aligneLabel {
    display: flex;
}
.aligneLabel label {
    margin-right: 5px;
}