.activities{
    display:flex;
    justify-content:space-around;
    padding:30px 0
}
.activities .activity{
    border-radius:50%;
    width:150px;
    height:150px;
    flex-flow:column;
    padding:20px;
    text-align:center;
    font-weight:100;
    color:#fff;
    position:relative;
    transition:0.5s;
    border:2px solid #fff
}
.activities .activity p{
    position:absolute;
    top:50%;
    bottom:auto;
    left:50%;
    right:auto;
    transform:translateX(-50%) translateY(-50%)
}
.vision{
    display: flex;
    border-radius:50%;
    width:170px;
    height:170px;
    flex-flow:column;
    padding:20px;
    text-align:center;
    justify-content: space-around;
    font-weight:100;
    color : black;
    transition:0.5s;
    border:2px solid black;
}
button{
    font-size: 1.4em;
    background-color: #47467c;
    height: 40px;
    width: 120px;
    -webkit-border-radius: 2px;
    -moz-borderradius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    transition: all 0.12s ease;
    border: none;
    margin-left: 1%;
}
button:hover {
    background-color: #5e5da3;
}
button a{
    color: white;
}
#inscription{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}