@font-face {
	font-family: 'gentleman-800';
	src: url(../../fonts/gentleman-800-bold-webfont.woff),
			 url(../../fonts/gentleman-800-bold-webfont.woff2),
	     url(../../fonts/gentleman-800-bold-webfont.ttf);
}

@font-face {
	font-family: 'gentleman-600';
	src: url(../../fonts/gentleman-600-regular-webfont.woff),
			 url(../../fonts/gentleman-600-regular-webfont.woff2),
	     url(../../fonts/gentleman-600-regular-webfont.ttf);
}

@font-face {
	font-family: 'gentleman-500';
	src: url(../../fonts/gentleman-500-regular-webfont.woff),
			 url(../../fonts/gentleman-500-regular-webfont.woff2),
	     url(../../fonts/gentleman-500-regular-webfont.ttf);
}
