@font-face {
    font-family:'gentleman';
    src:url(../../fonts/gentleman-800-bold-webfont.woff),
        url(../../fonts/gentleman-800-bold-webfont.woff2),
        url(../../fonts/gentleman-800-bold-webfont.ttf);
    font-weight:800;
}
@font-face {
    font-family:'gentleman';
    src:url(../../fonts/gentleman-900-heavy-webfont.woff),
        url(../../fonts/gentleman-900-heavy-webfont.woff2),
        url(../../fonts/gentleman-900-heavy-webfont.ttf);
    font-weight:900;
}
@font-face {
    font-family:'gentleman';
    src:url(../../fonts/gentleman-600-regular-webfont.woff),
        url(../../fonts/gentleman-600-regular-webfont.woff2),
        url(../../fonts/gentleman-600-regular-webfont.ttf);
        font-weight:600;
}
p {
    padding-bottom:1em;
    font-weight:100;
}
h3 {
    text-align:center;
}
a {
    color:#b4d7a8;
    text-decoration:none;
}
body {
    -webkit-font-smoothing:antialiased;
}
