@import url(base/global.css);
@import url(base/normalize.css);
@import url(layout/sections.css);

.activities{
  display:flex;
  justify-content:space-around;
  padding:30px 0
}
.activities .activity{
  border-radius:50%;
  width:150px;
  height:150px;
  flex-flow:column;
  padding:20px;
  text-align:center;
  font-weight:100;
  color:#fff;
  position:relative;
  transition:0.5s;
  border:2px solid #fff
}
.activities .activity p{
  position:absolute;
  top:50%;
  bottom:auto;
  left:50%;
  right:auto;
  transform:translateX(-50%) translateY(-50%)
}
.vision{
  display: flex;
  border-radius:50%;
  width:170px;
  height:170px;
  flex-flow:column;
  padding:20px;
  text-align:center;
  justify-content: space-around;
  font-weight:100;
  color : black;
  transition:0.5s;
  border:2px solid black;
}
/* CSS about the nav bar */
nav{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #FF0000;
  justify-content: center;
}
.nav{
  display: flex;
  max-width: 768px;
	width: 90%;
  height: 50px;
  flex-direction: row;
  align-items: stretch;
}
.nav a{
  display: flex;
  align-items: center;
  padding-left: 4.4%;
  padding-right: 4.4%;
  color: white;
  font-weight: 100;
  font-size: 1em;
}
.nav a:hover{
  background-color: #d52121;
}
/* CSS class for the sticky nav */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

/* CSS for the contact form */
input{
  color: black;
  border: 1px solid #47467c;
  height: 30px;
  width: 250px;
  -webkit-border-radius: 2px;
  -moz-borderradius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  margin: 5px;
}
textarea{
  color: black;
  border: 1px solid #47467c;
  width: 300px;
  -webkit-border-radius: 2px;
  -moz-borderradius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  margin: 5px;
}
#submit{
  color : white;
  background-color: #47467c;
  height: 30px;
  width: 80px;
  border: 1px solid #47467c;
  -webkit-border-radius: 2px;
  -moz-borderradius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin: 5px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*CSS for the footer*/
.footer {
  display: flex;
	flex-direction: row;
  margin: 0 auto;
	max-width: 768px;
  width: 90%;
  justify-content: space-around;
  padding-top: 10%;
}
.contactInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footLink img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5px;
}
.footLink2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 5px;
}

/* Code for the event page */
.logoEvent{
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.logoEvent:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}